<h2>予定の追加</h2>

<div class="form">
  <%= form_for(@schedule) do |f| %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="container">
      <div class="field input-group date" style="position: relative;">
        <%= f.label :date %><br />
        <%= f.text_field :date, class: 'form-control datetimepicker'%>
        <!-- <span class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </span> -->
      </div>
    </div>

    <div class="field">
      <%= f.label :place %><br />
      <%= f.text_field :place %>
    </div>

    <div class="actions">
      <%= f.submit "追加" %>
    </div>
  <% end %>
</div>
